@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.about-wrapper {
    .blob-tile-about {
        @include blob-tile( $tile-height, $tile-width );
        bottom: -23rem;
        width: 40rem;
        height: 40rem;
    }
    .page-content-about {
        position: absolute;
        z-index: 1;
        h1 {
            color: $tile-color-light;
            margin: 2rem 3rem 1rem;
        }
        .entry-content {
            margin: 2rem;
            p {
                font-size: 1rem;
                color: $tile-color-light;
            }
        }
        .about-image {
            img {

                width: 5rem;
                border-radius: 3rem;
                object-fit: cover;
            }
        }
    }
}

// @media (min-width: $tablet) {
//     .home-wrapper {
//         @include tile-large( $tile-height, $tile-width );
//     }
//     
// }