@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.about-wrapper {
    overflow-y: hidden;
    .blob-tile-about {
        @include blob-tile( $tile-height, $tile-width );
        bottom: -23rem;
        width: 40rem;
        height: 40rem;
    }
    .page-content-about {
        position: absolute;
        z-index: 1;
        h1 {
            color: $tile-color-light;
            margin: 2rem 3rem 1rem;
        }
        .entry-content {
            margin: 2rem;
            overflow: scroll;
            height: 40vh;
            p {
                font-size: 1rem;
                color: $tile-color-light;
            }
        }
        .about-image {
            img {

                width: 5rem;
                border-radius: 3rem;
                object-fit: cover;
            }
        }
    }
}


@media (min-width: 30rem) {
    .about-wrapper {
        .blob-tile-about {
            right: -12rem;
        }
    }
}

@media (min-width: $tablet) {
    .about-wrapper {
        .page-content-about {
            width: 100%;
            .entry-content {
                max-width: 60rem;
                margin: 6rem auto;
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    
}

@media (min-width: 80rem) {
    .about-wrapper {
        .blob-tile-about {
            left: 50rem;
        }
    }
}