@use "../utilities/vars" as *;

header {
    background-color: $red-color;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;

    .logo-svg {
        width: 12rem;
        padding: 0.5rem;
    }

    .hamburger-menu-svg {
        width: 4rem;
        padding: 0.5rem;
        display: block; // Default to showing the hamburger menu
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $font;
        font-size: 1.6rem;
        font-weight: 600;
        max-width: 100%;
        background-color: $red-color;
        padding: 1rem 2rem;
        margin: 0 auto;
        @media (min-width: 31.25rem) {
            font-size: 2.2rem;
        }

        .nav-list {
            padding: 0.2rem 0.6rem;
            margin: 2rem;
            width: fit-content;
            margin: 0 auto;
        }

        @media (min-width: $tablet) {
            margin: 0;
            font-size: 1.7rem;
        }

        @media (min-width: $desktop) {
            display: flex; // Always show the nav links for screens wider than 320px
            justify-content: right;
            margin: 0;
            background-color: transparent;

            .nav-links {
                margin: 0;
            }

        }
    }

    .menu-open .nav-links {
        display: block; // Ensure the nav links are displayed when the menu is open on smaller screens
    }

    .nav-link-list {
        @media (min-width: $tablet ) {
            display: flex;
            flex-direction: row;
        }
    }
    
}

@media (35.0625rem <= width <= 47.9375rem) {
    .nav-link-list {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }
}
