@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.arrow {
    fill: $font-color-dark;
    padding: 0.2rem 0 0 0.2rem;
}

.nav-home {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 10rem 0 0 10rem;
        margin: 0;
        width: 22rem;
        li {
            a {
                text-decoration: none;
                color: $font-color-dark;
                font-size: 1rem;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
}

.nav-works {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0.5rem 0 0 6rem;
        margin: 0;
        width: 16rem;
        li {
            a {
                text-decoration: none;
                color: $font-color-dark;
                font-size: 1rem;
                &:hover {
                    color: $bg-color-dark;
                    svg {
                        fill: $bg-color-dark;
                    }
                }
            }
        }
    }
}