@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.arrow {
    fill: $font-color-dark;
    padding: 0.2rem 0 0 0.2rem;
}

.nav-home {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 10rem 0 0 6rem;
        margin: 0;
        width: 16rem;
        li {
            a {
                text-decoration: none;
                color: $font-color-dark;
                font-size: 1rem;
                &:hover {
                    color: $bg-color-dark;
                }
            }
        }
    }
}

.nav-works {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0.8rem 0 0 10rem;
        margin: 0;
        width: 20rem;
        li {
            a {
                text-decoration: none;
                color: $font-color-dark;
                font-size: 1rem;
                &:hover {
                    color: $bg-color-dark;
                    svg {
                        fill: $bg-color-dark;
                    }
                }
            }
        }
    }
}

.nav-work-detail {
    ul {
        display: flex;
        justify-content: flex-end;
        gap: 0 1rem;
        flex-wrap: wrap;
        list-style: none;
        padding: 5rem 0 0 0;
        margin: 0 1rem 0 7rem;
        width: 60%;
        li {
            a {
                text-decoration: none;
                color: $font-color-dark;
                font-size: 1rem;
                font-weight: 1000;
                &:hover {
                    color: $bg-color-dark;
                    svg {
                        fill: $bg-color-dark;
                    }
                }
            }
        }
    }
}

.nav-about {
    ul {
        display: flex;
        justify-content: flex-end;
        gap: 0 1rem;
        flex-wrap: wrap;
        list-style: none;
        padding: 5rem 0 0 0;
        margin: 0 1rem 0 7rem;
        width: 60%;
        li {
            a {
                text-decoration: none;
                color: $tile-color-light;
                font-size: 1rem;
                font-weight: 1000;
                &:hover {
                    color: $bg-color-dark;
                    .arrow {
                        fill: $bg-color-dark;
                    }
                }
                .arrow {
                    fill: $tile-color-light;
                }
            }
        }
    }
}