@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.works-wrapper {
    .blob-tile-works {
        @include blob-tile( $tile-height, $tile-width );
        left: -10rem;
        top: -15rem;
        width: 65rem;
        height: 40rem;
    }
    .page-content-works {
        position: absolute;
        z-index: 1;
        h1 {
            width: 100%;
            padding: 2rem 0 0 11rem;

        }
        .work-links-wrapper {
            max-width: 80%;
            margin: 6rem auto;

            .work-detail-link {
                h2 {
                    color: $tile-color-light;
                }
                figure {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: $tablet) {
    .works-wrapper {
        .page-content-works {
            width: 100%;
            .work-links-wrapper {
                width: 75%;
                max-width: 65rem;
                li {
                    figure {
                        img {
                            // height: 14rem;
                        }
                    }
                }
            }
            .work-detail-link {
                &:hover {
                    h2 {
                        text-decoration: underline;
                        svg {
                            fill: $blob-tile-color;
                        }
                    }
                    figure {
                        display: block;
                        position: absolute;
                        right: 4rem;
                        bottom: 10rem;
                        max-width: 30rem;
                        animation: blobImg 0.5s ease-in-out;
                        clip-path: path("M50.5,-16.5C54.3,-4.9,38.4,13,20,26C1.6,39,-19.2,47.1,-37.9,37.1C-56.5,27.1,-72.9,-1,-66.2,-16.6C-59.6,-32.3,-29.8,-35.6,-3.2,-34.6C23.4,-33.6,46.8,-28.2,50.5,-16.5Z");
                    }
                }
            }
        }
    }
}

@keyframes blobImg {
    0% {
        transform: translateX(20rem);
    }
    
    100% {
        transform: translateX(0);
    }
}