@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.works-wrapper {
    .blob-tile-works {
        @include blob-tile( $tile-height, $tile-width );
        left: -10rem;
        top: -15rem;
        width: 65rem;
        height: 40rem;
        fill: $blob-tile-color;
    }
    .page-content-works {
        position: absolute;
        z-index: 1;
        h1 {
            width: 100%;
            padding: 2rem 0 0 11rem;

        }
        .work-links-wrapper {
            width: clamp(10rem, 80%, 50rem);
            margin: 4rem auto;

            article {
                position: relative;
                margin: 1rem 0;
                a {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .link-arrow {
                        fill: $font-color-dark;
                        padding-left: 0.4rem;
                    }
                }
                
                &:nth-child(odd) {
                    a {
                        flex-direction: row-reverse;
                    }
                }
                h2 {
                    font-weight: 700;
                    font-size: 1.5rem;
                    padding: 1rem;
                    text-align: center;
                }
                figure {
                    img {
                        width: clamp(10rem, 60vw, 20rem);
                        height: 16vh;
                        object-fit: cover;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: $tablet) {
    .works-wrapper {
        .work-links-wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .work-detail-link {
                &:hover {
                    h2 {
                        color: $blob-tile-color;
                        svg {
                            fill: $blob-tile-color;
                        }
                    }
                }
            }
        }
    }
}