@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.works-wrapper {
    .blob-tile-works {
        @include blob-tile( $tile-height, $tile-width );
        left: -10rem;
        top: -15rem;
        width: 65rem;
        height: 40rem;
    }
    .page-content-works {
        position: absolute;
        z-index: 1;
        h1 {
            width: 100%;
            padding: 2rem 0 0 11rem;

        }
        .work-links-wrapper {
            max-width: 80%;
            margin: 6rem auto;

            .work-detail-link {
                figure {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 5rem;
                }
            }
        }
    }
}

@media (min-width: $tablet) {
    .works-wrapper {
        .page-content-works {
            width: 100%;
            .work-links-wrapper {
                width: 75%;
                max-width: 65rem;
                li {
                    figure {
                        img {
                            height: 14rem;
                        }
                    }
                }
            }
            .work-detail-link {
                &:hover {
                    h2 {
                        color: $blob-tile-color;
                        svg {
                            fill: $blob-tile-color;
                        }
                    }
                    figure {
                        display: block;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}