@use "../utilities/vars" as *;
@use "../utilities/mixins" as *;

.work-detail-wrapper {
    @include tile-large( $tile-height, $tile-width );
    overflow: hidden;
    h2 {
        padding: 1rem;
        margin-top: 2rem;
    }
    .detail-work-summary-image {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 90%;
        max-width: 30rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    p {
        padding: 1rem;
    }
}