// color
$tile-color-dark: #3A3838;
$bg-color-dark: #2E2D2D;
$font-color-dark: #F6E8EA;

// screen sizes
$tablet: 40rem;  
$desktop: 65rem;
$desktop-larger: 85rem; 

// fonts
$body-font: "Merriweather Sans", sans-serif;
$sub-heading-font: "Cantarell", serif;
$heading-font: "Catamaran", sans-serif;

// tile
$tile-border: 1rem;
$tile-height: 90vh;
$tile-width: 90vw;